/* REMOVE SCROLL BOUNCE EFFECT */
:root {
    overscroll-behavior: none;
}

/* REMOVE DEFAULT BROWSER SETTINGS */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background: url(../img/dac-background.webp) no-repeat center center / cover;
}

footer {
    padding: 0.5rem;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#help-logo {
    font-size: 1.5rem;
    color: whitesmoke;
    align-self: center;
}

#help-content {
    padding: 20px;
    text-align: center;
    align-self: center;
    width: 100vw;
    background-color: #F9E9B8;
    border: 2px #333 solid;
    position: absolute;
    bottom: 2.5rem;
    display: none;
}

@media screen and (min-width : 768px) {
    #help-content {
        max-width: 600px;
    }
}