/* REMOVE SCROLL BOUNCE EFFECT */
:root {
    overscroll-behavior: none;
}

/* REMOVE DEFAULT BROWSER SETTINGS */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background: url(../img/dac-background.webp) no-repeat center center / cover;
}

footer {
    padding: 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
}

#help-logo {
    font-size: 2rem;
    color: whitesmoke;
}