/* Import Google fonts Cinzel and Playfair */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* REMOVE DEFAULT BROWSER SETTINGS */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

/* GENERAL STYLES */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../img/dac-background.webp) no-repeat center center / cover;
    font-family: 'Playfair', serif;
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
}

.button-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-buttons {
    text-decoration: none;
    font-weight: 500;
    width: 80%;
    max-width: 450px;
    color: whitesmoke;
    background-color: #590202;
    min-height: 50px;
    height: fit-content;
    border-radius: 10px;
    border: 2px #333 solid;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0 20px;
    position: relative;
}

#main-logo {
    text-align: center;
    border-radius: 10px;
    padding: 11.5px 20px;
    color: whitesmoke;
    font-size: 1.5rem;
    background-color: rgba(89, 2, 2, 0.5);
    position: absolute;
    top: 50px;
}

#dragon-logo {
    height: 120px;
}

/* MAIN */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

#intro-box {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(115, 72, 34, 0.5);
    border-radius: 20px;
}

#intro-text {
    text-align: center;
    padding: 20px;
    background-color: #FDF8E7;
    border: 2px #333 solid;
    border-radius: 10px;
}

#intro-text h2 {
    margin-bottom: 1rem;
}

#quiz-length-container {
    display: flex;
    justify-content: space-evenly;
}

.quiz-length-choice {
    display: flex;
    flex-direction: column;
}

.quiz-length-input {
    accent-color: #333;
}

/* GAME PAGE */
#game-box {
    width: 90%;
    max-width: 500px;
    padding: 25px 20px 20px 20px;
    background-color: rgba(115, 72, 34, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

#progress-bar {
    border-radius: 5px;
    background-color: #F9E9B8;
    width: 95%;
}

#progress {
    background-color: rgba(89, 2, 2, 0.7);
    width: 0%;
    height: 10px;
    border-radius: 5px;
    position: relative;
}

#progress-dragon {
    height: 2rem;
    position: absolute;
    right: -20px;
    bottom: -5px;
}

#question {
    background-color: #F9E9B8;
    width: 100%;
    max-width: 450px;
    color: #333;
    min-height: 50px;
    height: fit-content;
    border-radius: 10px;
    border: 2px #333 solid;
    text-align: center;
    margin-top: 5px;
}

.options {
    background-color: #FDF8E7;
    width: 100%;
    max-width: 450px;
    color: #333;
    min-height: 50px;
    height: fit-content;
    border-radius: 10px;
    border: 2px #333 solid;
}

.radio-check:checked + label {
    background-color: #F2CF63;
}

#game-box input {
    display: none;
}


/* FOOTER */
footer {
    padding: 0.75rem;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


#help-toggle {
    display: none;
}

#help-toggle:checked~div {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.help-toggle-label {
    align-self: center;
}

#help-logo {
    font-size: 2rem;
    color: whitesmoke;
    align-self: center;
}

#help-content {
    padding: 20px;
    text-align: center;
    align-self: center;
    width: 100vw;
    max-width: 500px;
    background-color: #F9E9B8;
    border: 2px #333 solid;
    position: absolute;
    bottom: 100%;
    display: none;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
}

#help-content i {
    font-size: 2rem;
    color: #333;
}

@media screen and (min-width : 768px) {    
    body {
        font-size: 1.25rem;
    }
    
    h1, h2, h3 {
        font-size: 1.5rem;
    }
    
    #main-logo {
        font-size: 2rem;
        top: 75px;
    }
    
    #dragon-logo {
        height: 160px;
    }
}

@media screen and (min-width : 1024px) {    
    #main-logo {
        font-size: 2.5rem;
        top: 90px;
    }
    
    #dragon-logo {
        height: 200px;
    }
}